@model MH.Web.ViewModels.NewUpazilaViewModel
@{
    ViewBag.Title = "Create";
}
<h2>Create Product</h2>
<form id="createUpazila">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>District Name</label>
                <select class="form-control" name="DistrictID">
                    <option value="" selected disabled>Select.... </option>
                    @foreach (var district in Model.AvailableDistricts)
                    {
                        <option value="@district.DistrictID">@district.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Upazila Name</label>
                <input class="form-control" name="Name" />
            </div>
            
            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                @*<img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />*@
            </div>
        </div>
    </div>
</form>
<script>
	$('#createUpazila').validate({
		rules: {
			Name: {
				required: true,
				minlength: 1,
				maxlength: 50,
			},
            DistrictID: {
                required: true,
			}
		},
		messages: {
			Name: {
				required: 'Name is required',
				minlength: 'Minimum Length is 1',
				maxlength: 'Maximum Length is 50'
			},
            DistrictID: {
                maxlength: 'District is required'
			}
		}
	});
	$("#saveBtn").click(function () {
        if ($("#createUpazila").valid()) {
			$.ajax({
				type: 'POST',
				url: '@Url.Action("Create", "Upazila")',
                data: $("#createUpazila").serialize()
			})
			.done(function (response) {
				$("#tableContiner").html(response);
				$("#actionContainer").html("");
				focusAction("tableContiner");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("FAIL");
			});
		//}
		//else {
		//	swal({
		//		title: "Warning",
		//		text: "Please enter all valid data in fields.",
		//		icon: "warning",
		//		buttons: true,
		//		dangerMode: true,
		//	});
		}
	});
	$("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
	});
</script>

