@model MH.Entities.Product
@{
    ViewBag.Title = "Create";
}


<h2>Create Product</h2>

<form  id="createProduct">
    <label>Name </label>
    <input class="form-control" name="Name" />

    <br />
    <label>MrpPrice </label>
    <input class="form-control" name="MrpPrice" />

    <br /><label>PackSize </label>
    <input class="form-control" name="PackSize" />

    <br />
    <label>Description</label>
    <input class="form-control" name="Description" />
    <br />
    <button id="saveBtn" type="button">Sabe</button>
</form>

<script>
    //$('#createProduct').validate({
    //    rules: {
    //        Name: {
    //            required: true,
    //            minlength: 5,
    //            maxlength: 50,
    //        },
    //        Description: {
    //            maxlength: 500
    //        },
    //        Price: {
    //            range: [1, 100000]
    //        }
    //    },
    //    messages: {
    //        Name: {
    //            required: 'Name is required',
    //            minlength: 'Minimum Length is 5',
    //            maxlength: 'Maximum Length is 50'
    //        },
    //        Description: {
    //            maxlength: 'Maximum Length is 500'
    //        },
    //        Price: {
    //            range: 'Price must be within range of 1 - 100000.'
    //        }
    //    }
    //});


    $("#saveBtn").click(function () {
		/*if ($("#createProduct").valid()) {*/
			$.ajax({
				type: 'POST',
				url: '@Url.Action("Create", "Product")',
				data: $("#createProduct").serialize()
			})
			.done(function (response) {
				$("#tableContiner").html(response);
				$("#actionContainer").html("");
				focusAction("tableContiner");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("FAIL");
			});
		//}
		//else {
		//	swal({
		//		title: "Warning",
		//		text: "Please enter all valid data in fields.",
		//		icon: "warning",
		//		buttons: true,
		//		dangerMode: true,
		//	});
		//}
	});
</script>