@model MH.Entities.Product

@{
    ViewBag.Title = "Create";
}


<h2>Create Product</h2>

<form method="post">
    <label>Name </label>
    <input class="form-control" name="Name" />

    <br />
    <label>MrpPrice </label>
    <input class="form-control" name="MrpPrice" />

    <br /><label>PackSize </label>
    <input class="form-control" name="PackSize" />

    <br />
    <label>Description</label>
    <input class="form-control" name="Description" />
    <br />
    <button type="submit">Sabe</button>
</form>